@page
@model MelisaIuliaProiect.Pages.Cars.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Car</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.VIN)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.VIN)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.VehicleModel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.VehicleModel.VehicleModelName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.VehicleType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.VehicleType.VehicleTypeName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Equipment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Equipment.EquipmentName)
            <div style="margin-left: 30px;">
                <span><em>Infotainment:</em> @Model.Car.Equipment.Infotainment</span><br />
                <span><em>Upholstery:</em> @Model.Car.Equipment.Upholstery</span><br />
                <span><em>Wheels:</em> @Model.Car.Equipment.Wheels</span><br />
                <span><em>Parking Assist:</em> @Model.Car.Equipment.ParkingAssist</span>
            </div>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.CarFuels)
        </dt>
        <dd class="col-sm-10">
            @{
                foreach (var fuel in Model.Car.CarFuels)
                {
                    @fuel.Fuel.FuelName <br/>
                }
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Transmission)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Transmission.TransmissionName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.HorsePower)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.HorsePower) PS
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Torque)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Torque) Nm
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Autonomy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Autonomy) km
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Seller)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Seller.SellerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Price) €
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Car.VIN">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
